# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dev.sqlite3
dist-electron/index.mjs
ROADMAP_MEJORAS.md
GEMINI.md

/src/generated/prisma
.env
.gitignore
IMPROVEMENTS.md
PHASE2-COMPLETE.md
PHASE1-COMPLETE.md
backups/backup-2026-05-06.sqlite.gz
